{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <ul class="exercises-list list-group">
                {% for exercise in exercises %}
                    <li class="list-group-item">
                        {% include '_exercise_line.html'  %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm">
            <p class="h3">Приседания со штангой</p>
                

        </div>
    </div>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }} ">
{% endblock %}

