{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <ul class="exercises-list list-group">
                {% for exercise in exercises %}
                    <li class="list-group-item">
                        {% include '_exercise_line.html'  %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm">
            <p class="h3">Приседания со штангой</p>
            <p>
                
Приседания со штангой задействуют квадрицепсы, мышцы задней части бедра и ягодиц. Это базовое упражнение способствует наращиванию массы и объема всех мышц бедра. Приседания со штангой - самое эффективное упражнение для наращивания массы и силы мышц бедра в целом (с акцентом на квадрицепсы).
<br>

Техника выполнения упражнения:
Станьте лицом к грифу посередине атлетической рамы.
Подсядьте под гриф штанги (поставив ступни точно под гриф) и упритесь в него верхней частью трапеций. Возьмитесь за штангу хватом сверху чуть шире плеч и выпрямитесь.
Слегка отступите назад (так, чтобы упоры не мешали штанге свободно опускаться вниз). Поставьте ноги на ширине плеч и чуть разведите носки в стороны. Спина и ноги выпрямлены. Вес штанги полностью распределяется на обе ступни (по всей их плоскости). Это и есть исходное положение.
Сделайте глубокий вдох и, задержав дыхание, плавно опуститесь вниз. Представьте, что вы садитесь на стул, расположенный позади вас: колени сгибаются и чуть выдвигаются вперед, ягодицы движутся назад и вниз, а торс при этом наклоняется вперед, до 45° по отношению к вертикали.
Приседая, сосредоточьтесь на удержании позвоночника в естественном S-образном положении. Не скругляйте спину!
На протяжении всего упражнения взгляд направлен строго вперед, а пятки прочно упираются в пол.
Как только бедра окажутся параллельными полу (нижняя точка упражнения), по-прежнему задерживая дыхание, изо всех сил напрягите мышцы бедер и поднимитесь вверх в исходное положение.
Начинайте выдох после того, как преодолеете самый сложный участок подъема. Продолжайте выдыхать до тех пор, пока не примите исходное положение.

Советы по упражнению:
В целях безопасности всегда держите спину слегка прогнутой в пояснице. Не расслабляйте поясничные мышцы, пока не опустите штангу на упоры. Скругление спины повышает риск травмы и снижает эффективность упражнения.
Держите мышцы живота напряженными на протяжении всего сета. Это существенно облегчает удержание туловища в устойчивом положении и предотвращает его раскачивание. Тем не менее не переусердствуйте: чересчур сильно напрягая пресс, вы невольно начнете скруглять спину.
Приседая и выпрямляясь, ни в коем случае не отрывайте пятки от пола. Приседая на носках (а не на ступнях), вы теряете устойчивость и рискуете травмировать коленный сустав (он будет чересчур сильно выдвигаться вперед). В нижней точке колени не должны выходить за линию пальцев ног.
Глубина приседа (нижняя точка упражнения) определяется исключительно тем, насколько у вас хватит сил держать естественный изгиб позвоночника и не отрывать пятки от пола во время приседания. Если чувствуете, что спина начинает скругляться, а пятки приподнимаются над полом, не приседайте ниже.
Если расстояние между ступнями чуть меньше или равно ширине плеч, то фокус нагрузки приходится на квадрицепсы и они задействованы гораздо сильнее мышц задней части бедра. Но такая постановка ног требует отменной гибкости тазобедренного сустава и ахиллесова сухожилия (иначе вам не удастся опустить бедра до параллели с полом). Если ступни расположены шире плеч, вы можете приседать с более тяжелым весом и не беспокоиться за гибкость тазобедренного сустава. Однако «первую скрипку» здесь играют уже мышцы задней части бедра, а не квадрицепсы.

Применение упражнения:
Кому: Атлетам среднего уровня подготовки и выше.
Когда: Первым упражнением в тренировке ног. После приседаний выполните гакприседания, жимы ногами, выпады и разгибания ног в тренажере.
Сколько: 3-5 сетов по 6-12 повторений.

Функции мышц:
Одновременное разгибание коленного и тазобедренного суставов - основное движение в легкой атлетике (прыжки в высоту, в длину, бег), прыжках в воду, баскетболе, волейболе, бейсболе, футболе, хоккее, теннисе и даже в плавании (старт). Поэтому, регулярно отрабатывая приседания со штангой, вы несомненно улучшите свои спортивные показатели во многих видах спорта.
            </p>
        </div>
    </div>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }} ">
{% endblock %}

